{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
<div class="example-wrapper">
<h1>Liste des projets en cours</h1>
<table>
    <thead>
    <tr>
        <td>Id du projet</td>
        <td>Nom du projet</td>
        <td>Date de début</td>
        <td>Date de fin</td>
        <td>Manager</td>
        <td>Type de projet</td>
        <td>Client</td>
        <td>Code</td>
    </tr>
    </thead>
    <tbody>
    {% for projet in ongoingProjectList %}
        <tr>
            <td>{{ projet.idProjet }}</td>
            <td>{{ projet.nomProjet }}</td>
            <td>{{ projet.dateDebut|date('d/m/Y') }}</td>
            <td>{{ projet.dateFin|date('d/m/Y') }}</td>
            <td>{{ projet.manager.nomManager }}</td>
            <td>{{ projet.typeProjet.nomTypeProjet}}</td>
            <td>{{ projet.client.raisonSociale }}</td>
            <td>{{ projet.code }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
</div>
{% endblock %}
